./textures/lib_ncurses.bmp
200
200
ncurses
9
./lib/lib_arcade_ncurses.so
_________________________________________
./textures/lib_sfml.bmp
200
200
sfml
10
./lib/lib_arcade_sfml.so
_________________________________________
./textures/lib_sdl.bmp
200
200
sdl
11
./lib/lib_arcade_sdl2.so
_________________________________________
./textures/lib_sdl.bmp
1
1
lol
1
./games/lib_arcade_pacman.so
_________________________________________
