./textures/lib_ncurses.bmp
30
30
ncurses
1
./lib/lib_arcade_ncurses.so
_________________________________________
./textures/lib_sfml.bmp
30
30
sfml
1
./lib/lib_arcade_sfml.so
_________________________________________
./textures/lib_sdl.bmp
30
30
sdl
1
./lib/lib_arcade_sdl2.so
_________________________________________
./textures/lib_sdl.bmp
1
1
lol
1
./games/lib_arcade_pacman.so
_________________________________________
