./games/Pacman/assets/wall2.bmp
30
30
#
_________________________________________
./games/Pacman/assets/point.bmp
30
30
*
_________________________________________
./games/Pacman/assets/pacman.bmp
30
30
<
_________________________________________
./games/Pacman/assets/ghost.bmp
30
30
M
_________________________________________
./games/Pacman/assets/bonus.bmp
30
30
o
