./games/Pacman/assets/wall.bmp
30
30
 
000000

_________________________________________
./games/Pacman/assets/wall.bmp
30
30
#
000000

_________________________________________
./games/Pacman/assets/point.bmp
30
30
*
000000

_________________________________________
./games/Pacman/assets/pacman.bmp
30
30
<
000000

_________________________________________
./games/Pacman/assets/ghost.bmp
30
30
M
000000

_________________________________________
./games/Pacman/assets/bonus.bmp
30
30
o
000000

_________________________________________
